div.row#create
    div.template-controls.col-xs-3
        div.enclosure
            div.row.align-center
                span.fa.fa-arrow-left
                span Home
            div.row Pick your Template
            div.vertical-space
            div.row
                object(type="image/svg+xml", data='static/img/phase_1/template1.svg',onclick="console.log('hello')")#svg-template-1
            div.row
                div.pull-left Template 1
            div.vertical-space
            div.row
                object(type="image/svg+xml", data='static/img/phase_1/template2.svg')#svg-template-2
            div.row
                div.pull-left Template 2
            div.row.vertical-space
            div.row Looking for more template options?
                a(href='/contact') Send us your ideas :)
    div.col-xs-9.no-padding-left
        div.templates