extends layout_publish
block content
   div(ng-app="Closingpage")
      div.container
         div.col-md-12.no-padding-left
            div.templates
               div.preview
                  div.row
                     div.col-md-12
                        div#cover-photo.document(back-img="{{ template['uploads']['coverImage']['source'] }}")
                  div.row.display-block
                        div.col-md-8
                           h2 Hey, {{ template['inputs']['Subject'] }}
                           p {{ template['inputs']['Main Description'] }}
                        div.col-md-4.text-center
                           div#logo.document(back-img="{{ template['uploads']['logo']['source'] }}")

                  div.row.display-block
                     div.row.text-center
                        h2 {{ template['inputs']['Template Title'] }}
                     div.row
                        div.col-md-8.col-md-offset-2.large-presentation
                           div.document.presentation.text-center
                              if template['uploads']['lrgDisplay']['display'] == 'ppt'
                                 ppt-display(slides="{{ template['uploads']['lrgDisplay']['source']}}")
                              if template['uploads']['lrgDisplay']['display'] == 'pdf'
                                 pdf-display(slides="{{ template['uploads']['lrgDisplay']['source']}}")
                              if template['uploads']['lrgDisplay']['display'] == 'gif'
                                 img(style="width:100%;height:100%" src="{{template['uploads']['medDisplayLeft']['source']}}")
                     div.row
                        div.col-md-8.text-center.col-md-offset-2
                           p {{ template['inputs']['Center Display Description'] }}
                     div.row.center-divider
                     div.row
                        div.col-md-6.medium-presentation
                           div.row
                              div.document.presentation.text-center
                                 if template['uploads']['medDisplayLeft']['display'] == 'ppt'
                                    ppt-display(slides="{{ template['uploads']['medDisplayLeft']['source']}}")
                                 if template['uploads']['medDisplayLeft']['display'] == 'pdf'
                                    pdf-display(slides="{{ template['uploads']['medDisplayLeft']['source']}}")
                                 if template['uploads']['medDisplayLeft']['display'] == 'gif'
                                    img(style="width:100%;height:100%" src="{{template['uploads']['medDisplayLeft']['source']}}")
                           div.row.text-center
                              p {{ template['inputs']['Left Display Description'] }}
                        div.col-md-6.medium-presentation
                           div.row
                              div.document.presentation.text-center
                                 if template['uploads']['medDisplayRight']['display'] == 'ppt'
                                    ppt-display(slides="{{ template['uploads']['medDisplayRight']['source']}}")
                                 if template['uploads']['medDisplayRight']['display'] == 'pdf'
                                    pdf-display(slides="{{ template['uploads']['medDisplayRight']['source']}}")
                                 if template['uploads']['medDisplayRight']['display'] == 'gif'
                                    img(style="width:100%;height:100%" src="{{template['uploads']['medDisplayRight']['source']}}")
                           div.row.text-center
                              p {{ template['inputs']['Right Display Description'] }}

                  div.row.display-block.bottom-border
                     div.jumbotron.text-center
                        h6 {{ template['inputs']['Quote'] }}
                  div.preview-footer.row
                     div.col-xs-4
                        div.footer-container.display-block.left
                           div.preview-footer
                              div.center
                                 img.sign.pull-left(src='{{user.picture_url}}')
                                 div.byline.pull-left
                                    span.row {{user.username}}
                                    span.row {{user.job_title}}
                                    span.row {{user.company}}
                     div.col-xs-4.text-center
                        div.footer-container.display-block.center
                           div.row WEB: www.datavibe.com
                           div.row HQ: 3423 Piedmont Raode NE
                           div.row Atlanta, GA 30305
                     div.col-xs-4.text-center
                        div.footer-container.display-block.right
                           img.contact(src='/static/img/phase-one/CTA.svg')
