body {
  background-color: #272727; }

nav {
  background-color: #1d1d1d !important; }
  nav img#publish {
    border-right: 2px solid #d2d2d2;
    margin-right: 12px; }
  nav img.btn {
    height: 40px;
    margin-top: 10px; }
  nav #logo {
    height: 40px;
    width: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    padding-right: 70px; }
  nav a {
    display: inline-block; }
  nav div.navbar-header {
    vertical-align: middle; }
  nav a.dropdown-toggle {
    margin-top: 9px;
    color: #606060 !important;
    font-weight: bolder;
    background-color: #1d1d1d; }
  nav ul.dropdown-menu {
    margin-left: 5px;
    background-color: #1d1d1d; }
    nav ul.dropdown-menu li a {
      font-weight: bolder;
      color: #606060 !important; }

h2 {
  font-weight: bold; }

div.preview-footer {
  padding-top: 10px;
  margin-bottom: 100px; }
  div.preview-footer img.sign {
    display: inline-block;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px; }
  div.preview-footer .byline {
    display: inline-block; }
  div.preview-footer .contact {
    display: inline-block;
    height: 40px;
    margin-top: 16px;
    margin-left: 10%; }

img.profile {
  height: 48px;
  border-radius: 50%;
  border: 2px solid #4caf50;
  margin-top: 8px;
  margin-right: 5px; }

.max-width {
  width: 100%; }

.enclosure {
  padding: 20px; }

.display-block {
  color: white;
  background-color: #353535 !important;
  padding: 20px 8%;
  margin-left: 1px;
  margin-right: 1px; }

.no-padding-left {
  padding-left: 0 !important; }

.padding-right {
  padding-right: 5px; }

.row {
  margin-bottom: 10px; }

.align-center span {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.powerpoint {
  position: relative;
  height: 100%;
  width: 100%; }
  .powerpoint img {
    width: 100%;
    height: 100%;
    margin: auto; }
  .powerpoint .arrow {
    height: 10%;
    position: absolute;
    top: 45%;
    width: 5%;
    text-align: center;
    vertical-align: middle; }
    .powerpoint .arrow i {
      margin: auto;
      position: absolute;
      left: 0;
      right: 0; }
  .powerpoint .left {
    left: 0; }
  .powerpoint .right {
    right: 0; }
  .powerpoint.pdf {
    width: 60% !important;
    margin-left: 20% !important; }

.large-presentation .presentation {
  height: 300px;
  width: 100%; }
.large-presentation .upload {
  margin-top: 80px;
  height: 40px; }

.medium-presentation .presentation {
  height: 400px;
  margin: 5px; }
.medium-presentation p {
  margin: 5px; }
.medium-presentation img.upload {
  margin-top: 55px;
  height: 40px; }

.jumbotron {
  background-color: #353535 !important; }

.bottom-border {
  border-bottom: 3px solid #4caf50; }

.footer-container {
  height: 120px; }
  .footer-container.left {
    margin-right: 4px; }
  .footer-container.center {
    margin-left: 2px;
    margin-right: 2px; }
  .footer-container.right {
    margin-left: 4px; }

.center-divider {
  height: 1px;
  margin-top: 60px;
  margin-bottom: 100px;
  border-bottom: 2px solid white; }

#cover-photo {
  height: 350px;
  padding: 0 !important;
  border-bottom: 3px solid #4caf50; }

#logo {
  width: 70px;
  height: 80px;
  display: block;
  margin: 15px auto auto; }

.document-modal .modal-dialog {
  max-height: 90vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: auto;
  text-align: center; }
.document-modal .modal-content {
  display: inline-block; }
.document-modal .modal-dialog * {
  max-height: 90vh; }
.document-modal .arrow {
  width: 2em;
  height: 2em; }
.document-modal img {
  width: auto;
  height: auto; }
.document-modal #document-modal-close {
  position: absolute;
  top: -1em;
  right: -1em;
  width: 2em;
  height: 2em;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.4em 0 0 0; }

/*# sourceMappingURL=preview.css.map */
