doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Closingpage.com a marketing platform')
		meta(name='author', content='Kp, Sharath, Max')
		title Closing Page
		// Bootstrap Core CSS
		link(rel="shortcut icon", href="static/favicon.ico")
		link(href='static/css/lib/bootstrap.min.css', rel='stylesheet')
		// Custom Fonts
		link(href='static/css/lib/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		// Theme CSS
		link(href='/static/css/home.css', rel='stylesheet')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
	body
		div.section-div#top-row
			div.row
				div#nav-row
					img.pull-left(src='/static/img/home/main/header_logo.png')
					ul.pull-right.list-inline
						li PRODUCT
						li PRICING
						li COMPANY
						li
							img(src='/static/img/home/main/header_sign_up.png')
			div.row
				div#title-row.text-center
					h1 The art of followup
					p
						| An intuitive sales platform that allows sales teams
						br
						| to curate, package, send and track follow up assets,
						br
						| all at one destination.
					a(href='/login')
						img(src='/static/img/home/main/in_touch.png')
		div.section-div#second-row
			div.row
				div#description.text-center
					| Manage and organize all of your sales content in a single hub
					br
					br
					| Package and personalize your sales content to impress clients and win deals
					br
					br
					| Track your followups to get deep insights on how your clients engage
				div#sections
					div.row.feature-row
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/organization_icon.png')
								h5 Organization
								p.set-height Manage your assets and integrate different sources
								div.row
									img.short(src='/static/img/home/main/learn_more.png')
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/packaging_icon.png')
								h5 Packaging
								p.set-height Create beautiful, responsive and personalized sales pitches
								div.row
									img.short(src='/static/img/home/main/learn_more.png')
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/tracking_icon.png')
								h5 Tracking
								p.set-height Use analytics to identify and isolate your most effective assets
								div.row
									img.short(src='/static/img/home/main/learn_more.png')
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/notifications_icon.png')
								h5 Notifications
								p.set-height Never miss an opportunity, know when customers are interested
								div.row
									img.short(src='/static/img/home/main/learn_more.png')
		div.section-div#form.text-center
			h3 Get Updates
			form(action='/get-in-touch', method='POST')
				div.row
					label First Name
				div.row
					input(type='text', name='first_name', required)
				div.row
					label Last Name
				div.row
					input(type='text', name='last_name', required)
				div.row
					label#email Email
				div.row
					input(type='email', name='email', required)
				button
					img(src='/static/img/home/main/in_touch.png')
		div.footer-div#footer
			div.row.feature-row
				div.row.top
					div.col-sm-4
						p.links
							| PRODUCT
							br
							br
							| COMPANY
							br
							br
							| PRICING
							br
							br
							| REQUEST A DEMO
					div.col-sm-4.col-sm-offset-4#bottom-logo
						img(src='/static/img/home/svg/footer_logo.svg')

				div.row.bottom
					div.col-sm-4
						div.row
							div.col-xs-2
								img.social(src='/static/img/home/svg/facebook.svg')
							div.col-xs-2
								img.social(src='/static/img/home/svg/twitter.svg')
							div.col-xs-2
								img.social(src='/static/img/home/svg/linkedin.svg')
					div.small.col-sm-4.text-center
						p Privacy Policy | Terms of Service
					div.small.col-sm-4.text-center
						p ©2017 ClosingPage Inc. All rights reserved
