doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Closingpage.com a marketing platform')
		meta(name='author', content='Kp, Sharath, Max')
		title Closing Page
		// Bootstrap Core CSS
		link(rel="shortcut icon", href="static/favicon.ico")
		link(href='static/css/lib/bootstrap.min.css', rel='stylesheet')
		// Custom Fonts
		link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		// Theme CSS
		link(href='/static/css/home.css', rel='stylesheet')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
	body
		div.section-div#top-row
			div.row
				div#nav-row
					img.pull-left(src='/static/img/home/main/header_logo.png')
					ul.pull-right.list-inline
						li PRODUCT
						li PRICING
						li COMPANY
						//li
						//	a(href='/login')
						//		img(src='/static/img/home/main/header_sign_up.png')
			div.row
				div#title-row.text-center
					h1.add-padding Attacking Attachments
					p.add-padding.text-center
						| Rethink the way you share sales content when closing deals.
						br
						| Delight customers by bringing boring email attachments to life
						| on a unified platform.
					a(href='#form')
						img(src='/static/img/home/buttons/join_private_beta.png')
		div.section-div#second-row.make-taller
			div.row
				div#description.text-center.add-padding
					| ClosingPage is a modern sales platform that allows sales teams
					br
					br
					| to personalize, package and track sales collateral through a simple web link,
					br
					br
					| so your customers can actually act on them.
				div#sections
					div.row.feature-row
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/organization_icon.png')
								h5 Organization
								p.set-height Manage your assets and integrate different sources
								//div.row
								//	a(href='#form')
								//		img.short(src='/static/img/home/buttons/stay_in_loop.svg')
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/packaging_icon.png')
								h5 Packaging
								p.set-height Create beautiful, responsive and personalized sales pitches
								//div.row
								//	a(href='#form')
								//		img.short(src='/static/img/home/buttons/stay_in_loop.png')
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/tracking_icon.png')
								h5 Tracking
								p.set-height Use analytics to identify and isolate your most effective assets
								//div.row
								//	a(href='#form')
								//		img.short(src='/static/img/home/buttons/stay_in_loop.png')
						div.col-sm-3
							div.feature.text-center
								div.row
									img.tall(src='/static/img/home/main/notifications_icon.png')
								h5 Notifications
								p.set-height Never miss an opportunity, know when customers are interested
								//div.row
								//	a(href='#form')
								//		img.short(src='/static/img/home/buttons/stay_in_loop.png')
		div.section-div#form.text-center
			h3 Get Updates
			form(action='/get-in-touch', method='POST')
				div.row
					label First Name
				div.row
					input(type='text', name='first_name', required)
				div.row
					label Last Name
				div.row
					input(type='text', name='last_name', required)
				div.row
					label#email Email
				div.row
					input(type='email', name='email', required)
				button
					img(src='/static/img/home/buttons/stay_in_loop.svg')
		div.footer-div#footer
			div.row.feature-row
				div.row.top
					div.col-xs-4
						p.links
							| PRODUCT
							br
							br
							| COMPANY
							br
							br
							| PRICING
							br
							br
							| REQUEST A DEMO
					div.col-xs-4.col-sm-offset-4#bottom-logo
						img(src='/static/img/home/svg/footer_logo.svg')

				div.row.bottom
					div.col-xs-4
						div.row
							div.col-xs-2
								a(href='https://www.facebook.com/theclosingpage')
									img.social(src='/static/img/home/svg/facebook.svg')
							div.col-xs-2
								a(href='https://www.twitter.com/theclosingpage')
									img.social(src='/static/img/home/svg/twitter.svg')
							div.col-xs-2
								img.social(src='/static/img/home/svg/linkedin.svg')
					div.small.col-xs-4.text-center
						p Privacy Policy | Terms of Service
					div.small.col-xs-4.text-center
						p ©2017 ClosingPage Inc. All rights reserved
	script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous")
	script.
		$(document).ready(function () {
			$("a").on('click', function (event) {
				if (this.hash !== "") {
					event.preventDefault();
					var hash = this.hash;
					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function () {
						window.location.hash = hash;
					});
				} // End if
			});
		});
