html
	head
		//meta tags and title
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0,maximum-scale=1.0, user-scalable=0')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		title ClosingPage

		//css links
		link(rel="stylesheet", href="/static/css/bootstrap.css")
		link(href='/static/css/ui-bootstrap-custom-2.3.1-csp.css')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet",
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel="stylesheet", href='/static/css/sweetalert.css')
		link(rel="stylesheet", href='/static/css/preview.css')
		link(rel="shortcut icon", href="/static/favicon.ico")
		//js links
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="/static/js/lib/sweetalert.min.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js')
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src='/static/js/lib/ui-bootstrap-tpls-2.5.0.min.js')
		script(src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js")

		//services
		script(src='/static/js/create/template-services/TemplateService.js')

		//controllers
		script(src='/static/js/preview/controller.js')

		//components
		script(src='/static/js/components/FileUpload.js')
		script(src='/static/js/components/PDFDisplay.js')
		script(src='/static/js/components/GIFDisplay.js')
		script(src='/static/js/components/PPTDisplay.js')
		script(src='/static/js/components/DocumentModal.js')

		//app
		script(src='/static/js/preview.js')

	body(ng-app='ClosingPage')
		block content