head
    link(href='static/css/login.css', type='text/css', rel='stylesheet')
body
    script(src="https://code.jquery.com/jquery-3.1.1.min.js",
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
      crossorigin="anonymous")

    div.login-page
        div.form
            if get_flashed_messages(with_categories = True)
                for category, message in get_flashed_messages(with_categories=True)
                    div.message(class="message-{{category}}")
                        h3 {{message}}
            div#logo
                img.logo(src='static/img/logo.svg')
            div#linkedin
                a(href='https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=78c1zfn9rje6f4&redirect_uri=http://localhost:5000/linkedInAuth&state=asdf&scope=r_basicprofile,r_emailaddress')
                    img(src='static/img/linkedin.png')
            form(action='/register', method='POST').register-form
                input(type="text", placeholder="name", name='username', required)
                input(type="password", placeholder="password", name='password', required)
                input(type="text", placeholder="email address", name='email', required)
                button create
                p.message Already registered?
                    a(href="#") Sign In
            form(action='/login', method='POST').login-form
                input(type="text", placeholder="username", name='username', required)
                input(type="password", placeholder="password", name='password', required )
                button login
                p.message Not Registered?
                    a(href="#") Create an account

    script.
        $('.message a').click(function () {
            console.log('clicked')
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });